.swiper-pagination-bullet-active {
  background: #69b99d;
}

.active-link::after {
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  background: #69b99d;
  transition: width 0.2s;
}

.link {
  transition: color 0.2s;
}

.link::after {
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  background: #69b99d;
  transition: width 0.2s;
}

.active-link::after,
.link:hover::after {
  width: 100%;
}

.link:hover div {
  color: #69b99d;
}
.active-link div {
  color: #69b99d;
  font-weight: bold;
}
